<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>g</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ANTLRWorks</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>(c) 2005-2008 Jean Bovet</string>
	<key>CFBundleIconFile</key>
	<string>${iconFile}</string>
	<key>CFBundleIdentifier</key>
	<string>org.antlr.works</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${bundleName}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${version}</string>
	<key>CFBundleSignature</key>
	<string>ATLW</string>
	<key>CFBundleVersion</key>
	<string>${version}</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		${classpath}
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>${mainClass}</string>
	</dict>
</dict>
</plist>
